
/* --- Espacio para la central box --- */

.breadCrumb{
    margin-top: 5px;
   margin-bottom: 50px;
  margin-left: 65px;
}
.centralBox{
    padding: 100px 15px;
    background-color: #EFEFEF;
    align-items: center;
}
.mainImage{
    height: 100%;
}
.mainBox{
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    max-height: 80%;
}
.textCard{
    color: black;
}

.boxRight{
    padding: auto;
}
.titleBoxRight{
    width: 80%;
    margin: 8% 10%;
    
}
.imageContainer1{
    background-color: #9BE2CE;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.imageContainer2{
    background-color: #FCDF8A;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.imageContainer3{
    background-color: #F99D7E;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cardBtn{
    display: inline-flex;
    margin:10px;
    border-radius: 10px;
    width: 100%;
    
}
.containerBtn{
    margin: 10%;
    
}
.btnCard{
    padding: 0%;
    margin: 0px;
}
.infoContainer{
    padding:40px 30px 40px 30px;
}
.card1{
    background-color: #CCFAED;
}
.card1:hover{
    cursor: pointer;
}
.card2{
    background-color: #FFEEBB;
}
.card2:hover{
    cursor: pointer;
}
.card3{
    background-color: #F8BCA8;
}
.card3:hover{
    cursor: pointer;
}
.quesButton{
    display: flex;
    margin-left: 720px;
    margin-top: -50px;
    margin-bottom: 10px;
}
.quest_button{
    background: #F07349;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-decoration: none;
    border-color: #F07349;

}