*{
    margin: 0%;
    padding: 0%;
}
.title{
    padding-top: 100px;
    padding-left: 120px;
    padding-bottom: 40px;
}
.asistenciaMenu{
    display: flex;
    margin-left: 610px;
}
.asistenciaMenu a{
    text-decoration: none;
}
.asistenciaMenu p{
    padding-left: 20px;
    padding-top: 8px;
}
#ayudaButtonText{
    padding-top: 0px;
}
.asistenciaMenu_button{
    background-color: #B1B1B1;
    border: none;
    color: white;
    padding: 10px 50px 10px 10px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    margin: 4px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.asistenciaMenu_button:hover{
    background-color: #3B939B;
}
.formularioCitas{
    display: flex;
    margin-top: 60px;
}
.pasos_titulo{
    background-color: #DBDBDB;
    padding: 56px 0px 0px 70px;
}
.datos{
    padding: 56px 0px 0px 70px;
    margin-left: 100px;
}
.inputs1{
    display: flex;
    padding: 20px 35px;
}
input[type=text], select {
    width: 307px;
    padding: 10px 20px 10px 20px;
    margin: 8px 0;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }