/* ---- barra accesible probicional de jaime ---- */
.visuaAdjust{
    background-color: #5A2A97;
    color: white;
     width: 84%;
     height: 60px;
     padding-left: 8%;
     padding-right: 8%;
     padding-top: 20px;
}
.visuaAdjust table{
    width: 100%;
}
.visuaAdjust a{
    color: white;
}
.visuaAdjust input[type=button]{
    color: white;
    font-family:  Helvetica, sans-serif, arial;
    font-size: 20px;
    background-color: #5A2A97;
    border: unset;
}


/* ---- estilo para el cuerpo ---- */
.slider{
    width: 100%;
    z-index: 12;
    grid-auto-flow: row;
    display: grid;
    grid-template: 340px / 900px 1fr;
    justify-items: first;
    justify-content: center;
    align-items: center;   
    margin-bottom: 5%;
}
.cuerpo p{
    color: black;
}
.titulo{
    margin-top: 1px;
    margin-left: 120px;
    padding-bottom: 60px;
}

.cajaSobreGapi{
    float: left;
    margin-left: 10%;
    width: 80%;
    margin-right: 10%;
    padding-bottom: 40px;
    color: black;
   
}
.cajaSobreGapi image{
    float: left;
}
.textoSobreGapi{
    float: right ;
    padding-top: 9%;
    width: 50%;
    padding-right: 2%;
}
.textoSobreGapi p{
    color: black;
}
.sobreGapiText{
    padding-bottom: 18px;   
    
}

.cuerpo{
   overflow: hidden;
}

.accionesGAPI{
    float: left;
    text-align: center;
    margin-top: 53px;
    width: 100%;
    height: 560px;
    background: #d3d3d3;
    overflow: hidden;
    padding-bottom: 3%;
}
.tituAcciones{
    padding-top: 40px;
}
.caja{
    top: auto;
    margin-top: 40px;
    padding-top: 63px;
    margin-left: 35px;
    border-radius: 10px;
    background-color: white;
    width: 235px;
    height: 350px;
    padding-left: 1.5%;
    text-align: left;
    display: inline-block;
}
.cajaj{
    top: auto;
    transform: translate(0px,-45px);
    margin-top: 40px;
    padding-top: 63px;
    margin-left: 35px;
    border-radius: 10px;
    background-color: white;
    width: 235px;
    height: 350px;
    padding-left: 1.5%;
    text-align: left;
    display: inline-block;

}
.mision{
   float: left;
   width: 100%;
   height: 300px;
    margin-top: 5%;
    margin-bottom: 10%;
}
.imagenMision{
    margin-top: 5%;
    float: right;
    padding-right: 150px;

}
.tituloMision{
    padding-bottom: 15px;
}

.MisionF{
    float: left;
    padding-top: 8%;
    padding-left: 118px;
}
.MisionF p{
    color: black;
}

.vision{
    float: left;
    width: 82%;
    height: auto;
    padding-top: 2%;
    margin-left: 8%;
    margin-right: 10%;
     margin-top: 5%;
     margin-bottom: 10%;
    
}

.imagenVision{
    float: left;
}
.VisionF{
    padding-top: 3%;
    float: right ;  
}
.VisionF p{
    color: black;
}

/* --- Nuestros Clientes --- */

.nuestrosClientes{
    
    text-align: center;
    padding-top: 50px;
    width: 100%;
    height: 635px;
    background: #3B939B;
    overflow: hidden;
  margin-bottom: -5%;
}

.subtituloCliente{
    padding-top: 50px;
}