*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    background-color: rgb(240, 240, 240);
}
/*barra de accesibilidad de jaime*/
.visuaAdjust{
    background-color: #5A2A97;
    color: white;
     width: 100%;
     height: auto;
     padding-left: 8%;
     padding-right: 8%;
     padding-top: 20px;
    padding-bottom: 1%;
}
.visuaAdjust table{
    width: 100%;
}
.visuaAdjust a{
    color: white;
}
.visuaAdjust input[type=button]{
    color: white;
    font-family:  Helvetica, sans-serif, arial;
    font-size: 20px;
    background-color: #5A2A97;
    border: unset;
}
/*barra de accesibilidad de jaime*/
input {
    width: 70%;
    padding: 10px 18px;
    border-radius: 7px;
    border-width: thin;
    box-sizing: border-box;
  }
/* --- Espacio para botones de Asistencia --- */
.asistenciaMenu{
    display: flex;
    margin-left: 610px;
}
.asistenciaMenu a{
    text-decoration: none;
   align-items: center;
}
.asistenciaMenu p{
    padding-left: 20px;
    padding-top: 8px;
}
#ayudaButtonText{
    padding-top: 0px;
}
.asistenciaMenu_button{
    background-color: #B1B1B1;
    border: none;
    color: white;
    padding: 10px 50px 10px 10px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    margin: 4px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.asistenciaMenu_button:hover{
    background-color: #3B939B;
}

/*--- fin de botones asistencia ---*/

.estasAqui{
    margin-left: 10%;
}
.proceso{
    width: 100%;
    height: 1277px;
    background: #efefef;
    overflow: hidden;
}  

.caja{
    margin-top: 63px;
    padding-top: 63px;
    margin-left: 120px;
    border-radius: 20 px;
    background-color: #3B939B;
    width: 243px;
    height: 52px;
}

/* --- espacio para caja izquierda --- */

.mainBox{
    border-radius: 1em;
    display: flex;
    background-color: #ffffff;
    width: 80%;
    margin: 10%;
    max-height: 70%;
    overflow: hidden;
}
.indice{
   
    background-color: rgb(219, 219, 219);
    box-sizing: border-box;
    width:  35%;
    float: left;
    min-height: 880px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 20px;
   
    padding-bottom: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
body span{
    font-family:  'Helvetica', sans-serif;
}
h3 {
    margin: 15px 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    color: teal;}
    .indice h6{
        margin: 15px 0px;
        color: #5F5F5F;;
     
}
.textSectionIndice{
    color: teal;
    padding-bottom: 5%;
}
.indice li{
    margin-top: 2%;
    margin-bottom: 2%;
}
.indice p{
    color: black;
}
.questions{
    background-color: rgb(250, 250, 250);
    float: left;
    width: 100%;
    min-height: 700px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 23px;
 

}

input[type=button]{
    height: 100%;
    width: 100%;
    background-color: unset;
    border: unset;
    font-size: 20px;
    color: white;
}
.canImg{
    float: left;
    text-align: right;
    width: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    
}

.haveDiversityYes input{
    width: 100%;
    
}
.haveDiversityYes{
    border-bottom-left-radius: 6%;
    border-top-left-radius: 6%;
    float: left;
    background-color:#67BFA6;
    width: 30%;
    position: relative;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 109px;
    
}
 
.haveDiversityNo{
    border-bottom-left-radius: 6%;
    border-top-left-radius: 6%;
    float: left;
    position: relative;
    background-color:#F07349;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 109px;
}



.canReadWriteYes{
    border-radius:  5%;
    
    float: left;
    position: relative;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color:#67BFA6;
    height: 92px;
}

.canReadWriteNo{
    border-radius:  5%;
    float: right;
    position: relative;
    background-color:#F07349;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 92px;
}

.questions table{
    width: 100%;
}

.changePage{
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: right;
     box-sizing: border-box;
    
}
