body{
    padding: 0;
    margin: 0;
}
main{
    justify-items: first;
    justify-content: center;
    align-items: center;
    padding: 0,0,0,0;
    margin: 0;
}

/*banner*/
.banner{
    justify-items: first;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bannerImage{
    height:400px;
    width:100%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.queEsElGapi{
    bottom: 26px;
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 216px);
    grid-template-rows: 380px;
    grid-gap: 30px;
    padding-top: 0px;
    padding-bottom: 100;
    padding-left: -2px;
}

hr {
    margin: 56px 0px;
    margin-left: 70px;
    margin-right: 70px;
}


#h5QueeselGAPI{
    margin-bottom: 20px;
    color:#454545;
}

#pQueeselGAPI{
    color:#454545;
}

.textQueeselGAPI{
    grid-column-start: 4;
    grid-column-end:6;
}

/*ajuste posicion estas aqui*/
.h6Home {
    padding-left:145px;
    margin-top:36px;
    margin-bottom: 36px;

}

.h4Home {
    font-size: 46px;
    font-weight: 600;
    color: #454545;
    text-align: center;
}
/*Acciones del GAPI*/
.h4GAPI{
    font-size: 46px;
    font-weight: 600;
    color: #454545;
    text-align: center;
    margin-top: 20;
    margin-bottom: 56;
}
.accionesGAPI{
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 175px);
    grid-template-rows: 300px;
    grid-gap: 99px;
    margin-bottom:50;
}
#pAcciones {
    margin-top: 36px;
    color:#454545;
}

/*secciones*/
.h6Seccion{
    font-size: 46px;
    font-weight: 600;
    color: #454545;
    text-align: center;
    margin-top: 10;
    padding-top:30;
    margin-bottom: 56;
}

.secciones{
    background-color: #DBDBDB;
    padding-bottom: 50px;
}

.seccionesContent{
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: repeat(2, 271px);
    grid-gap: 31px;
}

.seccion{
    width: 100%;
    height: 100%;
    background-color: #ffff;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0);
    border-radius: 25px;
}

.h4defect{
    margin-top: 5px;
}

.imgSeccionGAPI{
    position: absolute;
    z-index: 1;
    padding-top: 50;
    padding-left: 20;
}

.imgSeccion{
    position: absolute;
    z-index: 1;
    padding-top: 20;
    padding-left: 20;
}
.h4seccion{
    position: relative;
    top: 110; 
    padding-left: 20;
}

.h6Secciones {
    position: relative;
    z-index: 1;
    top:90;
    padding-left: 20px;
    padding-right: 20px;
    color:#454545;
    font-weight: 600;
    margin-top:52px;
    margin-bottom: 0;
}
/*testimonios*/

.testimonios {
    width: 100%;
    background-color: #3B939B;
    background-size: cover;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.backgroundTestimonios{
    width: 100%;
}

#h4Testimonio{
    padding-top:56px;
    color:#ffff;
}

.centerTestimonio{
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1170px;
    grid-template-rows: 304px;
}

.testimonioBox{
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-image: url("../images/home/testimonio.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 850px;
    grid-auto-rows: 119px;
    padding-bottom: 10px;
}

#pTestimonio{
    text-align: center;
    color:#454545;
}

.testimonioPerson{
    text-align: center;    
}

.imgTestimonio{
    padding-right: 15px;
}
.personTestimonio{
    text-align: left;
    display: inline-block;
}

#h6Testimonio{
    margin-bottom: 8;
}

#h6Subtitle{
    
    font-family: 'Helvetica';
    font-weight: 200;
    font-size: 14;
}

.buttons{
    padding-top: 56px;
    padding-bottom: 56px;
    text-align: center;
    padding-bottom: 
}

.buttons button{
    width:16px;
    height:16px;
    margin: 5px;
    padding:10px;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,0.5);
    border-width: 4;
    border-radius: 50px;
    display: inline-block;
}

.buttons button:hover{
    background-color: rgba(255,255,255,100);
}

/*noticias y eventos*/
.arrowToContinue{
    position: relative;
    top:9px;
    padding-left: 10px;
}
.noticias{
    
}

#h4Noticias{
<<<<<<< HEAD
    margin-top: 56px;
    margin-bottom: 56px;
=======
    padding-top: 80px;
   
    margin-bottom: 40px;
>>>>>>> e04a95ce57ff9efcbe18f964b0904a8f036734f1
    font-size: 46px;
    font-weight: 600;
    color: #454545;
    text-align: center;
}

.noticiasGrid{
    margin-bottom: 56px;
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
    grid-template-columns: 55px 380px 380px 380px 55px;
    grid-template-rows: 359px;
=======
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: 420px;
>>>>>>> e04a95ce57ff9efcbe18f964b0904a8f036734f1
    grid-gap: 31px;

    margin-bottom: 50px;
}
.noticia{
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    border-radius: 25px;
    margin-bottom: 40px;

}

.noticiaImg{
    position: absolute;
    z-index: 1;
}
.h4Noticias{
    position: relative;
<<<<<<< HEAD
    top: 190px; 
    padding-left: 190px;
=======
    z-index: 2;
    top: 178px; 
    padding-left: 250;
    margin-top: 20px;
>>>>>>> e04a95ce57ff9efcbe18f964b0904a8f036734f1
}
.h6Noticias {
    position: relative;
    z-index: 1;
    top:190;
    padding-left: 20px;
    padding-right: 20px;
    color:#454545;
    font-weight: 600;
    margin-top:52px;
    margin-bottom: 0;
}

.buttonNoticias {
  -webkit-appearance: none;
  background: transparent;
  color: #454545;
  border: 0;
  outline:0;
}

svg {
  padding: 5px;
}

.arrow {
  cursor: pointer;
  width: 70px;
  height: 90px;
}

.left {
}

.left:hover polyline,
.left:focus polyline {
  stroke-width: 3;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right {
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}


