body{
    background-color: rgb(240, 240, 240);
    margin: 0px auto;
}
/*footer*/
footer{
    margin-top: 50px;
    background-color: #146971;
    height: auto;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 120px;
}
.footer_info{
    display: flex;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 25px;
}
.data{
    padding-right: 140px;
}
.data_logo{
    padding-bottom: 30px;
}
.data_menu{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}
.data_menu a{
    color: white;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    padding-bottom: 16px;
}
.data_legal{
    padding-right: 50px;
    display: flex;
    flex-direction: column;
}
.data_legal a{
    float: left;
    color: white;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    padding-bottom: 16px;
}
.data_contact p{
    color: white;
    padding-top: 20px;
}
.social{
    text-align: center;
    padding-bottom: 50px;
}
.icons{
    margin-top: 40px;
}
/*fin footer*/



.firstHeader{
    background-color: rgb(103, 191, 166);
     width: 100%;
     height: 40px;
     padding-left: 4%;
     padding-right: 4%;
     padding-top: 15px;
}
table{
    width: 90%;
}

.menu{
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 40px;
    padding-left: 9%;
    padding-right: 6%;
     padding-top: 15px;
    
}
.estasAqui{
    margin-left: 8%;
}
.optionsBelowHeader{
    text-align: right;
    margin-right: 8%;
}

.indice{
    
    background-color: rgb(219, 219, 219);
    width: 27%;
    float: left;
    min-height: 500px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 20px;
    margin-left: 8%;
}
.questions{
    background-color: rgb(250, 250, 250);
    float: left;
    width: 50%;
    min-height: 500px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 23px;
    margin-right: 8%;
}
.changePage{
    padding-top: 8%;
    text-align: right;
    
}
