body{
    background-color: rgb(240, 240, 240);
    margin: 0px auto;
}
.estasAqui p{
    color: black;
}
body span{
    font-family:  'Helvetica', sans-serif;
}
body label{
    font-family:  'Helvetica', sans-serif;
}
 .indice h5{
padding-bottom: 2%;
 }
 .indice h6{
    margin: 15px 0px;
    color: #5F5F5F;;
 }

h3 {
    margin: 15px 0px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    color: teal;
}
.textSectionIndice{
    color: teal;
    padding-bottom: 5%;
}

.optionsBelowHeader{
    text-align: center;
}
footer{
    float: left;
    width: 82%;
}

.asistenciaMenu{
    display: flex;
    margin-left: 30%;
}
.asistenciaMenu a{
    text-decoration: none;
}
.asistenciaMenu p{
    padding-left: 20px;
    padding-top: 8px;
}
#ayudaButtonText{
    padding-top: 0px;
}
.asistenciaMenu_button{
    background-color: #B1B1B1;
    border: none;
    color: white;
    padding: 10px 50px 10px 10px;
    text-align: left;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    margin: 4px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.asistenciaMenu_button:hover{
    background-color: #3B939B;
}
.estasAqui{
    margin-left: 8%;
}

.questions input {
    width: 70%;
    padding: 10px 18px;
    border-radius: 7px;
    border-width: thin;
    box-sizing: border-box;
  }
input[type=radio]{
    width: 20%;
 }
 .questions table{
    width: 100%;
}


