
.indice{
    
    background-color: rgb(219, 219, 219);

    width:  27%;
    float: left;
    min-height: 925px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 20px;
    margin-left: 8%;
    padding-bottom: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.questions{
    background-color: rgb(250, 250, 250);
    float: left;
    width: 50%;
    min-height: 550px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 23px;
    margin-right: 8%;
    margin-bottom: 6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.questionsTable{
    padding-top: 25px;
    line-height: 3;
}
.ifHvaeWork{
    margin-left: 30%;
}



.laboral input{
    position: absolute;
    top: auto;
    left: auto;
    color: unset;
    background-color: unset;
    height: 14%;
    width: 47.5%;
    border: unset;
}
.familiar input{
    position: absolute;
    top: auto;
    left: auto;
    color: unset;
    background-color: unset;
    height: 14%;
    width: 47.5%;
    border: unset;
}
.penal input{
    position: absolute;
    top: auto;
    left: auto;
    color: unset;
    background-color: unset;
    height: 14%;
    width: 47.5%;
    border: unset;
}
.administrativo input{
    position: absolute;
    top: auto;
    left: auto;
    color: unset;
    background-color: unset;
    height: 14%;
    width: 47.5%;
    border: unset;
}

.diferente {
    background-color:#3B939B;
    color: white;
    width: 60%;
    height: 80px;
    border-radius: 5px;
}
.diferente label{
    margin-top: 6%;
    height: 100%;
    float: left;
    margin-left: 3%; 
    margin-right: 3%; 
}
.diferente input{
    margin-top: 5%;
  margin-left: 3%; 
  margin-right: 3%; 
  margin-top: 5%;
}
.desconoce{
    transform: translate(-75px,0%);
}
.desconoce input{
    position: absolute;
    top: auto;
    left: auto;
    color: unset;
    background-color: unset;
    height: 95%;
    width: 68%;
    border: unset;
}

.changePage{
    padding-top: 25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
}
