
.indice{
    
    background-color: rgb(219, 219, 219);
    width:  27%;
    float: left;
    min-height: 750px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 20px;
    margin-left: 8%;
}
.questions{
    background-color: rgb(250, 250, 250);
    float: left;
    width: 49.5%;
    min-height: 750px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 23px;
    margin-right: 8%;
}
.questions2{
   
    width: 120%;

   
}



.changePage{
    padding-top: 25px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  
}

