.indice{
    
    background-color: rgb(219, 219, 219);
    width:  27%;
    float: left;
    min-height: 735px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 20px;
    margin-left: 8%;
    padding-bottom: 25px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.questions{
    background-color: rgb(250, 250, 250);
    float: left;
    width: 49.5%;
    min-height: 750px;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 23px;
    margin-right: 8%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.questions2{
    width: 120%;
}
 
 
 
.changePage{
 
   
    
    width: 100%;
    padding: 12px 20px;
    margin: 13px 0;
    box-sizing: border-box;
  
}
.longLabel{
    width: 85%;
}
/*seccion de hovers*/
.img-aparecer {
    display: none;
    visibility: hidden;
}
.CompanionName :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompaniontypeOfDocument :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionExpeditionDocument :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionBirthDate :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionDepartmen :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
 
.Companionlastname :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionNumberOfDocument :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionDateOfDocument :hover + .img-aparecer {
    position: relative;
 
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
 
.CompanionCityOfResidence :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.Cell2 :hover + .img-aparecer {
    position: relative;
    transition: all 500ms ease-out;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionDirection :hover + .img-aparecer {
    position: relative;
    margin-right: 20%;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionAndUserRelationList :hover + .img-aparecer {
    position: relative;
    margin-right: 20%;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
 
.CompanionAndUserRelation :hover + .img-aparecer {
    position: relative;
    
    margin-right: 20%;
    margin-top: 3%;
    opacity: 1;
    visibility: visible;
    display: block;
}
