
h1 {
    text-align: center;
}

/*SubtitutloEstasAqui*/
.title{
    position: relative;
    bottom: 40px;
}
/*Titulo banner*/
.titleVideo{
    position: relative;
    right: 0px;
    bottom: 70px;
}

/*ajustes generales videos*/
iframe{
    border-radius: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*texto gapi banner*/
.GapiVideo{
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 24px;
}
/*texto padding seccion Principal*/

.mainVideo {
    padding-bottom: ;
    align-items: center;
}


/*boton ver mas*/
button {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    font-weight: 300px;
    font-size: 16px;
    line-height: 16px;
    border: none;
}

.buttonSecondary {

    width: 380px;
    height: 56px;
    background: #F07349;
    border-radius: 4px;
    margin-top: 112px;
    margin-left: 740px;
    align-self: center;
}
/*Division linea*/
hr {
    margin: 56px 0px;
    margin-right: 100PX;
}
/*ajustes de textos especificos*/
h2 {
    margin-bottom: 16px;
}

p {
    line-height: 24px;
    margin: 0px;
}
/*filas y columnas*/
.row {
    display: flex;
    justify-content: space-between;
    padding-left: 0px 120px;
}

.col {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

/*video Seccion inferior*/

.secondaryVideo div {
    width: 100%;
    margin: 0px;
    margin-left: 60px;
}

.secondaryVideo iframe {
    margin-bottom: 16px;
}

/*textos filas seccion inferior*/
.rowVideoP{
    padding-right: 190px;
    padding-top:16px;
}

.h5Col{
    margin-top: 14px;
    padding-top: 0px;
    margin-right: 190PX;
}


/*TextoVideoPrincipal*/
.mainVideo div {
    width: 100%;
    padding-left: 0px 120px;
}
/*articulo videos*/
.videos{
    padding-left: 100px;
}